* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Rubik', sans-serif;
}
/* container */
.container {
  min-height: 80vh;
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 400px 400px 400px;
  padding: 50px;
  gap: 30px;
}

/* nav */
nav {
  min-height: 20vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
#newBtn {
  font-size: 4rem;
}
#newBtn:hover {
  opacity: 0.7;
  font-size: 4.5rem;
}

/* book card */
.card {
  background-color: rgb(203, 252, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow:2px 3px 3px black;
}
.cardHeading {
  font-size: 1.5rem;
  margin: 30px 15px;
}
.cardAuthor {
  font-size: 1.3rem;
  margin-bottom: 8px;
}
.cardPages {
  font-size: 1rem;
}

.topDiv {
  color: blue;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.cardClose {
  font-size: 1.5rem;
  color: red;
}
.cardClose:hover {
  opacity: 0.7;
}

.readDiv {
  height: 20%;
  width: 90%;
  margin-top: 70px;
  background-color: rgb(219, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.readDiv::before{
  content: "Not Read";
}

.checked {
  background-color: green;
  height: 20%;
  width: 90%;
  margin-top: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked::before{
  content: "Read";
}

.bookIcon{
  margin-left: 8px;
}
/* form */
#popup {
  width: 450px;
  height: 600px;
  background-color: rgb(56, 185, 185);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  padding: 50px 30px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

#popup h3 {
  font-size: 3rem;
}

form input {
  padding: 5px;
  width: 350px;
  height: 2rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
.checkbox {
  margin-top: 10px;
}
#checkboxLabel {
  color: white;
  font-size: 1.2rem;
}
.checkDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20%;
  width: 90%;
}
#submitForm {
  height: 50%;
}
#closeBtn {
  height: 30%;
}
