* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  min-height: 80vh;
  background-color: beige;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 30px;
  gap: 30px;
}
nav {
  min-height: 20vh;
  background-color: aqua;
}
.card{
  background-color: aquamarine;
  display:
}
#popup {
 width: 200px;
 height: 200px;
 background-color: rgb(56, 185, 185);
 position: fixed;
 top:50%;
 left:50%;
 transform: translate(-50%, -50%);
 display: none;
}
